#contacto {
    position: relative;
    margin: 0 auto;

    h2 {
        @include titles;
    }

    .text-bg {
        position: absolute;
        top: -8rem; left: 20%;

        h2 {
            @include textbgDecoration;
            @include noSelect;
        }
    }

    .contacto-container {
        display: flex;
        justify-content: center;
        margin: 3rem 0;

        .form-container, .lista-contacto {
            max-width: 50%;
        }

        .form-container {
            margin:0 2rem;

            .form {
            width:21rem;    height: auto;
            background:#e6e6e6;
            border-radius:1rem;
            box-shadow:0 0 3rem -2rem black;
            margin:0 0;
            padding:2.5rem 2rem;
            position:relative;

            h4 {
                font-size: 1.5rem;
                line-height: 1.5rem;
                width:12rem;
                color:$orange;
                border-bottom:0.15rem solid $orange;
                padding-bottom:0.8rem;
            }
        }

       

        input{
            width:100%;
            padding:0.3rem;
            background:none;    outline:none;    resize:none;
            border:0;
            transition:all .3s;
            border-bottom:0.15rem solid #bebed2;

            &:focus {
                border-bottom:0.15rem solid #78788c;
            }
        }

        p:before{
            content: attr(type);
            display:block;
            margin:28px 0 0;
            font-size:14px;
            color:#5a5a5a
        }

        button{
            float:right;
            padding:0.5rem 1rem;
            margin:1.5rem 0;
            border: 0.1rem solid #78788c;
            background:0;
            color:#5a5a6e;
            cursor:pointer;
            transition: all .3s;

            &:hover {
                background:#616169;
                border: 0.1rem solid #616169;
                color:#fff
            }  
        }

        div{
            background:#616169;
            color:#fff;
            width:320px;
            padding:1rem 0.4rem 1rem 0;
            border-radius:0.3rem;
            font-size:0.85rem;
            
            i {
                margin: 0 0.5rem;
            }
        }
    }   
}

    .lista-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem 2rem;
        padding: 2rem 0;
        

        div {
            padding: 0.5rem 0;
            text-align: right; 

            i {
                padding-right: 0.3rem;
                font-size: 1.3rem;
                color: white;
                opacity: 80%;
            }

            a {
                text-decoration: none;
                color: $orange;
                font-weight: 600;
                font-size: 1.1rem;
                transition: all 0.5s;
                
                @include hoverLink(white, 0.1rem)
            }
        }
    }

    .map-container {
        display: flex;
        justify-content: center;
        margin-top: 4rem;

        iframe {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {

    #contacto {
        margin-top: -2rem;

        h2 {
            @include mobileTitles;
        }

        .text-bg {
            position: absolute;
            top: -12%; left: 10%;
    
            h2 {
                font-size: 10rem;
            }
        }

        .contacto-container {
            display: flex;
            flex-direction: column;
            margin: 3rem 1rem;

            .form-container, .lista-contacto {
                margin: 1rem auto;
                max-width: 100%;
            }
        }

        .lista-contacto {
            margin-top: 4rem; 

            div {
                text-align: center;

                a {
                    font-size: 1rem;
                    color: white;
                    font-weight: 500;
                }

                i {
                    color: white;
                    font-size: 1.1rem;
                }
            }
        }

        .map-container {
            margin-top: 4rem;

            iframe {
                width: 36rem;
            }
        }
    }
}