footer {
  margin-bottom: 0;
  background-color: $orange;
  background-size: cover;

  .footer-container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;

    .derechos {
      padding-left: 3rem;
      font-weight: 500;
    }
  }
}

.footer-nico {
  padding: 0 0 0.3rem 0;
  background-color: $orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    p {
      color: black;
      font-size: 1.1rem;

      span {
        font-size: 1.3rem;
        font-family: "Outfit", sans-serif;
        font-weight: bold;
      }
    }

    .social-icon {
      margin: 0.5rem auto;
      display: flex;
      justify-content: center;

      a {
        transition: all 0.5s;

        &:hover {
          transform: scale(130%);
        }

        i {
          padding: 0 0.5rem;
          color: black;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    margin-top: 4rem;
    font-size: 0.9rem;
    padding: 0 1.5rem;

    .footer-container {
      flex-direction: column;

      .derechos {
        padding-left: 0rem;
        text-align: center;
        order: 3;
      }
    }
  }
}

.footer-nico {
  div {
    p {
      font-size: 0.8rem;

      span {
        font-size: 1rem;
      }
    }

    .social-icon {
      a {
        i {
          padding: 0 0.5rem;
          color: black;
          font-size: 1rem;
        }
      }
    }
  }
}
