@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Outfit:wght@400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap");
header {
  position: absolute;
  top: 2rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 3rem;
  z-index: 100;
  text-align: center;
}

header .menu-btn {
  display: none;
}

header .navbar {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

header .navbar ul a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 1.1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  padding: 0.01rem 0.1rem;
  text-decoration: none;
  position: relative;
}

header .navbar ul a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.14rem;
  width: 100%;
  background-color: #f29b30;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

header .navbar ul a:hover {
  color: #f29b30;
}

header .navbar ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .navbar ul .nav-close {
  display: none;
}

@media (max-width: 768px) {
  header {
    top: 0;
    right: 0;
    padding: 0 0;
  }
  header .menu-btn {
    display: unset;
    font-size: 2.5rem;
    margin: 1.5rem 2rem 0 0;
    color: #f29b30;
    cursor: pointer;
  }
  header .navbar {
    background-color: rgba(255, 255, 255, 0.966);
    position: fixed;
    right: -110%;
    top: 0;
  }
  header .navbar.active {
    right: 0;
  }
  header .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 60vw;
    height: 100vh;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }
  header .navbar ul a {
    margin: 1.5rem 0;
    color: black;
    font-size: 1.3rem;
  }
  header .navbar ul .nav-close {
    display: unset;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem 2rem 0 0;
    font-size: 2.5rem;
    color: #f29b30;
    cursor: pointer;
  }
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #1cb0dd3f;
  mix-blend-mode: overlay;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#hero .brand {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#hero .brand img {
  text-align: center;
  width: 15rem;
  z-index: 1;
}

#hero .brand h1 {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-size: 3.5rem;
  line-height: 4.5rem;
  padding: .5rem 3rem;
  z-index: 1;
  -webkit-text-stroke: 0.12rem black;
  text-transform: uppercase;
}

#hero .brand p {
  font-size: 1.7rem;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 600;
  -webkit-text-stroke: 0.08rem black;
  text-align: center;
}

#hero .brand a {
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: #f29b30;
  color: black;
  border: 0.1rem solid black;
  padding: 0.5rem 1.2rem;
  margin-top: 1.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#hero .brand a:hover {
  color: white;
  background-color: #0d322b;
  border: 0.1rem solid white;
}

@media (max-width: 768px) {
  #hero .brand img {
    width: 14rem;
  }
  #hero .brand h1 {
    margin: 1.5rem 0.3rem;
    padding: 1.5rem 2rem;
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: 0.13rem;
  }
  #hero .brand p {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin-top: -1rem;
  }
  #hero .brand a {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    color: black;
  }
}

#nosotros {
  padding-top: 6rem;
  position: relative;
}

#nosotros h2 {
  font-size: 4.8rem;
  padding-left: 4rem;
  text-transform: uppercase;
  z-index: 10;
  z-index: 5;
}

#nosotros .text-bg {
  position: absolute;
  top: -15%;
  left: 30%;
}

#nosotros .text-bg h2 {
  color: white;
  font-size: 15rem;
  text-transform: uppercase;
  opacity: 0.075;
  /* Standard */
  -moz-opacity: 0.075;
  /* Firefox */
  -webkit-opacity: 0.075;
  /* Safari */
  filter: alpha(opacity=50);
  /* Internet Explorer */
  letter-spacing: -0.8rem;
  line-height: 31rem;
  visibility: visible;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer / Edge */
  user-select: none;
  /* Chrome, Edge, Opera, Firefox */
  font-size: 12rem;
}

#nosotros .nosotros-maxcontainer {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nosotros .nosotros-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'texto imagen';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 0 6rem;
  z-index: 15;
}

#nosotros .nosotros-texto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nosotros .nosotros-texto p {
  font-size: 1rem;
  text-align: justify;
  line-height: 2rem;
}

#nosotros .nosotros-imagen {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#nosotros .nosotros-imagen img {
  width: 80%;
  max-width: 50rem;
  border-radius: 66% 34% 36% 64% / 50% 37% 63% 50%;
}

@media (max-width: 850px) {
  #nosotros h2 {
    font-size: 2.5rem;
    line-height: 4.2rem;
    padding-left: 2rem;
    text-transform: uppercase;
    z-index: 10;
  }
  #nosotros .text-bg {
    position: absolute;
    top: -15%;
    left: 15%;
  }
  #nosotros .text-bg h2 {
    font-size: 10rem;
  }
  #nosotros .nosotros-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 2.5rem;
    z-index: 15;
  }
  #nosotros .nosotros-container .nosotros-texto p {
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  #nosotros .nosotros-container .nosotros-imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 1rem auto;
  }
  #nosotros .nosotros-container .nosotros-imagen img {
    width: 90%;
    max-width: 25rem;
    border-radius: 66% 34% 36% 64% / 50% 37% 63% 50%;
  }
}

#excursiones {
  position: relative;
}

#excursiones h2 {
  font-size: 4.8rem;
  padding-left: 4rem;
  text-transform: uppercase;
  z-index: 10;
}

#excursiones .text-bg {
  position: absolute;
  top: -9%;
  left: 10%;
}

#excursiones .text-bg h2 {
  color: white;
  font-size: 15rem;
  text-transform: uppercase;
  opacity: 0.075;
  /* Standard */
  -moz-opacity: 0.075;
  /* Firefox */
  -webkit-opacity: 0.075;
  /* Safari */
  filter: alpha(opacity=50);
  /* Internet Explorer */
  letter-spacing: -0.8rem;
  line-height: 31rem;
  visibility: visible;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer / Edge */
  user-select: none;
  /* Chrome, Edge, Opera, Firefox */
}

#excursiones .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#excursiones .container .card {
  max-width: 18rem;
  text-align: center;
  margin: 1.5rem 1rem 0 1rem;
  padding: 1.2rem 0.7rem 0 0.7rem;
  border-radius: 1rem;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#excursiones .container .card:hover {
  background: #d2d2d2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(21%, rgba(210, 210, 210, 0.226564)), color-stop(68%, rgba(255, 255, 255, 0.120121)));
  background: linear-gradient(360deg, rgba(210, 210, 210, 0.226564) 21%, rgba(255, 255, 255, 0.120121) 68%);
}

#excursiones .container .card img {
  width: 15rem;
  border-radius: 1.2rem;
}

#excursiones .container .card h5 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding: 0.56rem 0;
}

#excursiones .container .card p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-bottom: 0.9rem;
}

@media (max-width: 768px) {
  #excursiones {
    margin-top: -2rem;
  }
  #excursiones h2 {
    font-size: 2.5rem;
    line-height: 4.2rem;
    padding-left: 2rem;
    text-transform: uppercase;
    z-index: 10;
  }
  #excursiones .text-bg {
    position: absolute;
    top: -4.8%;
    left: 15%;
  }
  #excursiones .text-bg h2 {
    font-size: 10rem;
  }
  #excursiones .container {
    margin-top: 1.5rem;
  }
  #excursiones .container .card {
    margin: 0.8rem 2rem;
    padding: 1rem 2rem;
    background: #d2d2d2;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(21%, rgba(210, 210, 210, 0.226564)), color-stop(68%, rgba(255, 255, 255, 0.120121)));
    background: linear-gradient(360deg, rgba(210, 210, 210, 0.226564) 21%, rgba(255, 255, 255, 0.120121) 68%);
  }
  #excursiones .container .card p {
    padding-bottom: 0rem;
  }
}

#foto-grid {
  margin: -2.5rem 0 0 0;
}

#foto-grid h2 {
  font-size: 4.8rem;
  padding-left: 4rem;
  text-transform: uppercase;
  z-index: 10;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

#foto-grid .grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#foto-grid .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  margin: 0 2rem;
}

#foto-grid .images div {
  margin: 0.5rem 1rem;
  width: 15rem;
  height: auto;
}

#foto-grid .images div img {
  width: 100%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  cursor: pointer;
}

#foto-grid .images div img:hover {
  -webkit-transform: scale(98.5%);
          transform: scale(98.5%);
}

#foto-grid .modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
  z-index: 10;
  overflow: auto;
}

#foto-grid .modal .modalContent {
  min-height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#foto-grid .modal .modalContent .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#foto-grid .modal .modalContent .center i {
  margin: 0 2.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

#foto-grid .modal .modalContent .center i:hover {
  color: #f29b30;
}

#foto-grid .modal .modalContent div {
  height: 80%;
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#foto-grid .modal .modalContent div .modalImg {
  width: 19rem;
  -webkit-animation: pop 0.4s linear;
          animation: pop 0.4s linear;
}

#foto-grid .modal .modalContent div .modalText {
  -webkit-animation: pop 0.4s linear;
          animation: pop 0.4s linear;
}

#foto-grid .modal .close {
  position: absolute;
  top: 2rem;
  right: 4rem;
  cursor: pointer;
}

#foto-grid .modal .close i {
  font-size: 1.5rem;
  -webkit-transition: .3s all;
  transition: .3s all;
}

#foto-grid .modal .close i:hover {
  color: #f29b30;
}

.hidden {
  display: none;
}

@-webkit-keyframes pop {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 768px) {
  #foto-grid {
    margin: 0 1rem;
  }
  #foto-grid h2 {
    font-size: 2.5rem;
    line-height: 4.2rem;
    padding-left: 2rem;
    text-transform: uppercase;
    z-index: 10;
    padding-left: 0;
  }
  #foto-grid .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    margin: 0 -1rem;
  }
  #foto-grid .images div {
    margin: 0.2rem 0.4rem;
    width: 10rem;
    height: auto;
  }
  #foto-grid .images div img {
    width: 100%;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    cursor: pointer;
  }
  #foto-grid .images div img:hover {
    -webkit-transform: scale(98.5%);
            transform: scale(98.5%);
  }
  #foto-grid .modal .modalContent {
    width: 100%;
    padding: 6rem 0;
    margin: 0 auto;
  }
  #foto-grid .modal .modalContent .center i {
    text-align: center;
    margin: 0 0.6rem;
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 100%;
  }
  #foto-grid .modal .modalContent div {
    height: 80%;
    padding: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #foto-grid .modal .modalContent div .modalImg {
    width: 17rem;
    -webkit-animation: pop 0.4s linear;
            animation: pop 0.4s linear;
  }
  #foto-grid .modal .modalContent div .modalText {
    -webkit-animation: pop 0.4s linear;
            animation: pop 0.4s linear;
  }
  #foto-grid .modal .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
  #foto-grid .modal .close i {
    font-size: 1.5rem;
    -webkit-transition: .3s all;
    transition: .3s all;
  }
  #foto-grid .modal .close i:hover {
    color: #f29b30;
  }
}

#contacto {
  position: relative;
  margin: 0 auto;
}

#contacto h2 {
  font-size: 4.8rem;
  padding-left: 4rem;
  text-transform: uppercase;
  z-index: 10;
}

#contacto .text-bg {
  position: absolute;
  top: -8rem;
  left: 20%;
}

#contacto .text-bg h2 {
  color: white;
  font-size: 15rem;
  text-transform: uppercase;
  opacity: 0.075;
  /* Standard */
  -moz-opacity: 0.075;
  /* Firefox */
  -webkit-opacity: 0.075;
  /* Safari */
  filter: alpha(opacity=50);
  /* Internet Explorer */
  letter-spacing: -0.8rem;
  line-height: 31rem;
  visibility: visible;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer / Edge */
  user-select: none;
  /* Chrome, Edge, Opera, Firefox */
}

#contacto .contacto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

#contacto .contacto-container .form-container, #contacto .contacto-container .lista-contacto {
  max-width: 50%;
}

#contacto .contacto-container .form-container {
  margin: 0 2rem;
}

#contacto .contacto-container .form-container .form {
  width: 21rem;
  height: auto;
  background: #d8d8d8;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 3rem -2rem black;
          box-shadow: 0 0 3rem -2rem black;
  margin: 0 0;
  padding: 2.5rem 2rem;
  position: relative;
}

#contacto .contacto-container .form-container .form h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 12rem;
  color: #dba50e;
  border-bottom: 0.15rem solid #dba50e;
  padding-bottom: 0.8rem;
}

#contacto .contacto-container .form-container input {
  width: 100%;
  padding: 0.3rem;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 0.15rem solid #bebed2;
}

#contacto .contacto-container .form-container input:focus {
  border-bottom: 0.15rem solid #78788c;
}

#contacto .contacto-container .form-container p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

#contacto .contacto-container .form-container button {
  float: right;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  border: 0.1rem solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#contacto .contacto-container .form-container button:hover {
  background: #616169;
  border: 0.1rem solid #616169;
  color: #fff;
}

#contacto .contacto-container .form-container div {
  background: #616169;
  color: #fff;
  width: 320px;
  padding: 1rem 0.4rem 1rem 0;
  border-radius: 0.3rem;
  font-size: 0.85rem;
}

#contacto .contacto-container .form-container div i {
  margin: 0 0.5rem;
}

#contacto .lista-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 1rem 2rem;
  padding: 2rem 0;
}

#contacto .lista-contacto div {
  padding: 0.5rem 0;
  text-align: right;
}

#contacto .lista-contacto div i {
  padding-right: 0.3rem;
  font-size: 1.3rem;
  color: white;
  opacity: 80%;
}

#contacto .lista-contacto div a {
  text-decoration: none;
  color: #dba50e;
  font-weight: 600;
  font-size: 1.1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  position: relative;
}

#contacto .lista-contacto div a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 100%;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#contacto .lista-contacto div a:hover {
  color: white;
}

#contacto .lista-contacto div a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#contacto .map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

#contacto .map-container iframe {
  width: 100%;
}

@media (max-width: 768px) {
  #contacto {
    margin-top: -2rem;
  }
  #contacto h2 {
    font-size: 2.5rem;
    line-height: 4.2rem;
    padding-left: 2rem;
    text-transform: uppercase;
    z-index: 10;
  }
  #contacto .text-bg {
    position: absolute;
    top: -12%;
    left: 10%;
  }
  #contacto .text-bg h2 {
    font-size: 10rem;
  }
  #contacto .contacto-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3rem 1rem;
  }
  #contacto .contacto-container .form-container, #contacto .contacto-container .lista-contacto {
    margin: 1rem auto;
    max-width: 100%;
  }
  #contacto .lista-contacto {
    margin-top: 4rem;
  }
  #contacto .lista-contacto div {
    text-align: center;
  }
  #contacto .lista-contacto div a {
    font-size: 1rem;
    color: white;
    font-weight: 500;
  }
  #contacto .lista-contacto div i {
    color: white;
    font-size: 1.1rem;
  }
  #contacto .map-container {
    margin-top: 4rem;
  }
  #contacto .map-container iframe {
    width: 36rem;
  }
}

footer {
  margin-bottom: 0;
  background-color: #dba50e;
  background-size: cover;
}

footer .footer-container {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container .derechos {
  padding-left: 3rem;
  font-weight: 500;
}

.footer-nico {
  padding: 0 0 0.3rem 0;
  background-color: #dba50e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nico div p {
  color: black;
  font-size: 1.1rem;
}

.footer-nico div p span {
  font-size: 1.3rem;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

.footer-nico div .social-icon {
  margin: 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nico div .social-icon a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-nico div .social-icon a:hover {
  -webkit-transform: scale(130%);
          transform: scale(130%);
}

.footer-nico div .social-icon a i {
  padding: 0 0.5rem;
  color: black;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  footer {
    margin-top: 4rem;
    font-size: 0.9rem;
    padding: 0 1.5rem;
  }
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-container .derechos {
    padding-left: 0rem;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer-nico div p {
  font-size: 0.8rem;
}

.footer-nico div p span {
  font-size: 1rem;
}

.footer-nico div .social-icon a i {
  padding: 0 0.5rem;
  color: black;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #b88e18;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, #b88e18), color-stop(75%, #426e1e));
  background: linear-gradient(180deg, #b88e18 21%, #426e1e 75%);
}

section {
  padding: 4rem 0;
}
/*# sourceMappingURL=style.css.map */