@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Outfit:wght@400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import 'variables';
@import 'hero';
@import 'nosotros';
@import 'excursiones';
@import 'foto-grid';
@import 'contacto';
@import 'footer';

// @import 'mediaqueries';


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    // background: rgb(184,142,24);
    // background: radial-gradient(circle, rgba(184,142,24,1) 21%, rgba(57,96,26,1) 68%); 
    background: rgb(184,142,24);
    background: linear-gradient(180deg, rgba(184,142,24,1) 21%, rgb(66, 110, 30) 75%); 
}

section {
    padding: 4rem 0;
}
